@model ShopOnline.Model.UserModel.AuthenticationRequest
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="main-container col1-layout">
    <div class="main container">
        <div class="account-login">
            <div class="page-title">
                <h2>Login or Create an Account</h2>
            </div>
            <fieldset class="col2-set">
                <div class="col-1 new-users">
                    <strong>New Customers</strong>
                    <div class="content">
                        <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
                        <div class="buttons-set">
                            <button onclick="window.location='http://demo.magentojtv.com/computerstore/customer/account/create/';" class="button create-account" type="button"><span>Create an Account</span></button>
                        </div>
                    </div>
                </div>
                <div class="col-2 registered-users">
                    <strong>Registered Customers</strong>
                    <div class="content">
                        <p>If you have an account with us, please log in.</p>
                        <form asp-action="Login" asp-controller="Login" method="post">
                            <ul class="form-list">
                                <li>
                                    <label for="email">UserName<span class="required">*</span></label>
                                    <br>
                                    <input type="text" title="UserName" asp-for="@Model.UserName" id="email">
                                </li>
                                <li>
                                    <label for="pass">Password <span class="required">*</span></label>
                                    <br>
                                    <input type="password" asp-for="@Model.Password" title="Password" id="pass">
                                </li>
                            </ul>
                            <p class="required">* Required Fields</p>
                            <div class="buttons-set">
                                <button id="send2" name="send" type="submit" class="button login">Login</button>
                                <a class="forgot-word" href="http://demo.magentojtv.com/computerstore/customer/account/forgotpassword/">Forgot Your Password?</a>
                            </div>
                        </form>
                    </div>
                </div>
            </fieldset>
        </div>

    </div>
</section>



<!-- Brand Logo -->
<div class="brand-logo">
    <div class="container">
        <div class="slider-items-products">
            <div id="brand-logo-slider" class="product-flexslider hidden-buttons">
                <div class="slider-items slider-width-col6">

                    <!-- Item -->
                    <div class="item"> <a href="#"><img class="img-responsive" src="/admin-template-web/version2/images/brand3.png" alt="Image"> </a> </div>
                    <!-- End Item -->
                    <!-- Item -->
                    <div class="item"> <a href="#"><img class="img-responsive" src="/admin-template-web/version2/images/brand1.png" alt="Image"> </a> </div>
                    <!-- End Item -->
                    <!-- Item -->
                    <div class="item"> <a href="#"><img class="img-responsive" src="/admin-template-web/version2/images/brand2.png" alt="Image"> </a> </div>
                    <!-- End Item -->
                    <!-- Item -->
                    <div class="item"> <a href="#"><img class="img-responsive" src="/admin-template-web/version2/images/brand4.png" alt="Image"> </a> </div>
                    <!-- End Item -->
                    <!-- Item -->
                    <div class="item"> <a href="#"><img class="img-responsive" src="/admin-template-web/version2/images/brand5.png" alt="Image"> </a> </div>
                    <!-- End Item -->
                    <!-- Item -->
                    <div class="item"> <a href="#"><img class="img-responsive" src="/admin-template-web/version2/images/brand6.png" alt="Image"> </a> </div>
                    <!-- End Item -->
                    <!-- Item -->
                    <div class="item"> <a href="#"><img class="img-responsive" src="/admin-template-web/version2/images/brand2.png" alt="Image"> </a> </div>
                    <!-- End Item -->
                    <!-- Item -->
                    <div class="item"> <a href="#"><img class="img-responsive" src="/admin-template-web/version2/images/brand4.png" alt="Image"> </a> </div>
                    <!-- End Item -->

                </div>
            </div>
        </div>
    </div>
</div>